.Log {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: 2px solid rgb(190, 190, 190);
  height: 25px;
  box-sizing: content-box;
  padding: 15px 0px;
}
.Log td {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  width: 30%;
  text-align: center;
  height: 100%;
  display: block;
  box-sizing: border-box;
}

.Log a,
.Log a:active,
.Log a:hover,
.Log a:visited {
  text-decoration: none;
  color: black;
}

.Log a:hover {
  color: salmon;
}
