.LogsNames {
  border: solid 3px black;
  margin-left: 30%;
  margin-top: 5%;
  width: 30%;
  background-color: honeydew;
  padding: 3%;
  border-radius: 10%;
}

.name {
  padding-left: 25%;
}

.emoji {
  width: 10px;
}
