.navBar {
  height: 80px;
  background-color: #02243d;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: right;
}

.logo {
  color: #e4d1cf;
  font-family: "Arial";
}

.navBar button {
  background-color: #02243d;
  color: #e4d1cf;
  border: 1px solid #4b5c6c;
  border-radius: 4px;
  height: 30px;
  width: 90px;
  margin-top: 30px;
  margin-right: 15px;
}
