.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin: 8px;
  background-color: bisque;
}

.nav button {
  padding: 12px 8px 12px 8px;
  margin: auto;
  background-color: bisque;
  box-shadow: 2px black;
  color: rgb(31, 31, 31);
  font-size: 28px;
  font-family: "Courier New", Courier, monospace;
}

.nav h1 {
  font-size: 48px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}
