.nav {
    display: flex;
    padding: 10px;
    margin: 8px;
    background-color: rgb(12, 21, 89);
  }
  .nav button {
    float: right;
    padding: 12px 8px 12px 8px;
    margin: auto;
    background-color: rgb(12, 21, 89) ;
    box-shadow: 2px black;
    color: rgb(28, 28, 27);
    font-family: “Courier New”, Courier, monospace;
  }
  .nav h1 {
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .nav a {
    color: rgb(249, 225, 195);
    text-decoration: none;
  }