.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: blue;
  opacity: 0.75;
  min-height: 50px;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
}
.nav-bar h1,
h2 {
  color: black;
}
.nav-bar h4 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
#link-to-new {
  grid-column: 5/6;
  border: 2px solid darkblue;
  border-radius: 5px;
  box-shadow: 5px 5px 5px skyblue;
  opacity: 1;
  color: black;
}
