* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.app {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 1fr 3fr;
    width: 100vw;
    height: 100vh;
}

.nav {
    background-color: rgb(3, 36, 61);
    grid-column: 1 / 4;
}

.logs-link {
    color: white;
}

.new-log-btn {
    background-color: rgb(3, 36, 61);
    margin-left: 90%;
    padding: 10px
}

.log-index {
    grid-column: 2;
    padding: 10px;
    border: 1px solid rgb(204, 204, 247);
}
