body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  background: darkblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-size: xx-large;
}

button {
  background-color: blue;
  color: whitesmoke;
}

.Log a {
  color: black;
}
.showNavigation {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.New form {
  margin: auto;
  width: 95%;
}

input[type],
textarea {
  display: block;
  width: 90%;
  margin: auto;
}
