/* 

.New form {
  margin: auto;
  width: 95%;
}

input[type],
textarea {
  display: block;
  width: 90%;
  margin: auto;
}

input[type="checkbox"] {
  margin: 0;
  width: 15%;
}
input[type="number"] {
  margin: auto;
  width: 15%;
}

input[type="submit"] {
  width: 30%;
} */
