.Nav {
  background-color: rgb(2, 36, 60);
  height: 15vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.Nav .navTitle {
  justify-content: center;
  align-content: center;
  font-size: 25px;
  align-self: center;
  height: 100%;
  align-content: center;
  display: flex;
}

.Nav .navTitle h1 {
  margin: 0;
}

.Nav .newLink {
  width: 150px;
  height: 50px;
  border: 3px solid white;
  border-radius: 10px;
  display: flex;
  align-self: center;
  box-sizing: border-box;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0);
}

.Nav .newLink a {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  text-align: none;
  font-size: 20px;
  font-weight: bold;
}

.Nav a,
.Nav a:visited,
.Nav a:active,
.Nav a:hover {
  text-decoration: none;
  color: white;
  margin: auto;
}
