.LogsList {
  background-color: rgb(237, 250, 252);
  width: 75%;
  margin: 25px auto 0px;
  border-radius: 25px;
  box-shadow: 5px 12px 20px black;
  padding: 10px 50px;
}
.LogsList .heading {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(190, 190, 190);
  height: 25px;
  box-sizing: content-box;
  padding: 15px 0px;
}
.LogsList .heading th {
  margin: 0;
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  width: 30%;
}
